.viz_administration_timeline_class {
    position: relative;
    height: 90vh;
    width: 80%;
    padding: 0;
    /* background:blue; */
    /* padding-bottom will be overwritten by JavaScript later */
    /* padding-bottom: 100%; */
}
.slider_div {
    position: relative;
    height: 5vh;
    width: 100%;
    padding: 0;
    /* background:pink; */
    /* background:blue; */
    /* padding-bottom will be overwritten by JavaScript later */
    /* padding-bottom: 100%; */
}
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
