.chart{
  
  /*background-color: #de4534;*/
}
.bar{

body{
  padding: 0px;
  margin:0;
  /*font-size: 14px;*/
  /*font-family: nunito, arial, sans-seriff;*/
}

}
.wrapper
      {
        display:grid;
        grid-template-columns: 1fr 3fr;
        padding-bottom: 100px;
     /*   grid-column-gap: 2px;
        grid-row-gap: 2px;*/
      }
      .wrapper > div{
        /*background: #eee;*/
        /*padding: 1em;*/

      }
      .wrapper>div:nth-child(odd)
      {
        /*//background*/: #ddd;
      }

.grid
{
  stroke-opacity:0.2;
}   

.flood_warning{
  opacity: 0.7;
  fill: red;
}   

.flood_dates
{
  
  opacity: 0.3;
  fill: #52EEFF;
}

.align_middle
{
  align:"center";
  /*position: absolute;*/
  display: inline-block;
}

.wrapper3
{
   display:grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: "Lato","Arial", "Helvetica";
}

.header
{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;

  font-family: "Lato","Arial", "Helvetica";
   padding: 0;
   margin:0;
   font-size: 50px;
   /*color:#dfef34;*/
   padding-top:10%;
   padding-bottom: 2.5%;
   height: 30%;
   width:100%;
   /*font-weight: bold;*/
     /*grid-template-columns: 1fr 2fr 1fr;*/
  /*background: #ff0000;*/
  /*text-align: center;*/
}

.name
{
  text-align: left;
  /*padding-top: 10px;*/
  font-size: 14px;
  /*font-weight: bold;*/
}

.info{
  font-size:12px;
}

.info_rainfall
{
 fill:#ffffff;
 stroke-width: 0.5;
 stroke: #000000;
}

.info_rainfall_details
{
  font-size: 11px;
}
.wrapper_dropdown
{
   display:grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  padding-top: 50px;
  font-size: 15px;
 font-family: "Lato","Arial", "Helvetica";
  /*padding-bottom: 10px;*/
  /*font-weight: bold;*/
}

.choose_dam
{
  font-weight: bold;
  /*font-size: 17px;*/
   font-family: "Lato","Arial", "Helvetica";
   font-size: 17px;
  /*text-align: right;*/
}

.comment
{
  display:grid;
  grid-template-columns: 1fr 1fr 4fr;
  font-size: 12px;
  color:#00A1B2;
  font-weight: bold;
  font-family: "Lato","Arial", "Helvetica";
  /*text-align: right;*/
}

.axis_class
{
   font-family: "Lato","Arial", "Helvetica";
   font-size: 14px;
   font-weight: bold;
   fill:#005C66;
}

.graph_default
{
  stroke:#00A1B2;
}

.circle_hover
{
  fill:#52EEFF;
  stroke:#00A1B2;
}
.circle_default
{
  fill:#00A1B2;
}

.dam_storage
{
  fill:#DFFFFF;
  stroke: #000000;
  stroke-width:0.15;
  font-weight: bold;
}

.background_
{
  background-color: #DFFFFF;
}

.information
{
  font-size: 14px;
  text-align: left;
  color: grey;
}
.well1
{
  color:rgb(35,82,124);
  font-size: 30px;
}

