
.body
{
	speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
}



.wrapper3
{
	 display:grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: 2px;
        grid-row-gap: 2px;

}


.title
{
  font-size: 70px;
   /* font-family: 'Roboto Condensed', serif; */
	   font-family: 'Lustria', serif;
  font-weight:bold;
  text-align: center;
}
.name_my
{
	font-size: 15px;
	font-weight: bold;
	font-family:"Lato";
	text-align: center;
}
.spacetitle
{
	height:20vh;
	/* padding: 100px; */
	display:block;
}
.space
{
	height:10vh;
	/* padding: 10px; */
	display:block;
}



/* election_css */
.viz_election_class {
    position: relative;
    height: 70vh;
    width: 100%;
    padding: 0;

    /* background:blue; */
    /* padding-bottom will be overwritten by JavaScript later */
    /* padding-bottom: 100%; */
}

.edit
{
  stroke:#000000;
  stroke-opacity:0;
}

.grid_election
{
  opacity:0.1;
	/* fill:none; */
}
.overlay
{
  fill:none;
  /* opacity:0.3; */
	stroke-opacity:0.3;
	stroke:blue;
	stroke-width:2;
}


.lezends
{
  font-size:14px;
  font-weight: bold;
	font-family: 'Lato';
}




/* depose_css */
.viz_depose {
		position:relative;

		/* height:700px; */
		width:100%;
		height:70vh;
		/* max-width:800px; */
		/* height:700px; */
}
.depose_legend
{
width:100%;
font-family: 'Lato';
}

.grid line
{
stroke-opacity:0.2;
}
.grid path
{
	stroke-width:0;
	/* stroke-opacity:0; */
}
.shapeDiamond
{
fill:#A763CC;
stroke:yellow;
stroke-width:1.5;
/* z-index: 1; */
cursor:pointer;
}
.fonts
{
	-moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
-webkit-font-smoothing: antialiased;

backface-visibility: hidden;
-webkit-backface-visibility: hidden;
text-rendering: optimizeLegibility;
	font-family: 'Lato';
	color:"#aaacaf";
	font-weight: light;
font-size:17px;
/* color:red; */
}
.hover_text
{
		font-family: 'Lato';
font-size:14px;
}
.lezends
{
		font-family: 'Lato';
/* font-size: : */
}


/* css_administration */
.wrapper4
{
   display:grid;
        grid-template-columns: 1fr 2fr 3fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 2px;
				/* font-family: "Lato" */
}
  .viz_administration_class {
      position: relative;
      height: 90vh;
      width: 100%;
      padding: 0;
      /* background:blue; */
      /* padding-bottom will be overwritten by JavaScript later */
      /* padding-bottom: 100%; */
  }

  .hover_text
  {
    font-family:Lato;
    font-size:15px;
  }
  .lezends_small
  {
    font-size:14px;
    font-weight: bold;
  }
