.viz_administration_timeline_class {
    /* position: relative; */
    width: 35%;
    /*max-width: 800px;*/
    height:80vh;
    /*max-height: 700px;*/
    background-color:rgba(250, 250, 250, 0.85);
    /* background:blue; */
    /* padding-bottom will be overwritten by JavaScript later */
    /* padding-bottom: 100%; */
}
.slider_div {
    position: relative;
    height: 5vh;
    width: 100%;
    padding: 0;
    /* background:pink; */
    /* background:blue; */
    /* padding-bottom will be overwritten by JavaScript later */
    /* padding-bottom: 100%; */
}
.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.admin_timeline_timeperiod
{
  width: 100%;
  margin:0;
  padding:0;
  /*max-width: 800px;*/
  height:10vh;
  background: #294056;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
