.chart{
	
	/*background-color: #de4534;*/
}
.bar{

body{
	padding: 0px;
	margin:0;
}

}

  .wrapper
      {
        display:grid;
        grid-template-columns: 1fr 3fr;
     /*   grid-column-gap: 2px;
        grid-row-gap: 2px;*/
      }
      .wrapper > div{
        /*background: #eee;*/
        padding: 1em;

      }
      .wrapper>div:nth-child(odd)
      {
        /*//background*/: #ddd;
      }

.grid
{
	stroke-opacity:0.2;
}   

.flood_warning{
	opacity: 0.4;
	fill: #ff0000;
}   

.flood_dates
{
	
	opacity: 0.3;
	fill: #0000ff;
}

.align_middle
{
	align:"center";
	/*position: absolute;*/
	display: inline-block;
}

.wrapper3
{
	 display:grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
}

.header
{
	 display:block;
   width:100%;
   padding: 0;
   margin:0;
     /*grid-template-columns: 1fr 2fr 1fr;*/
	background: #ff0000;
	text-align: center;
}

.info{
  font-size:12px;
}

.info_rainfall
{
 fill:#ffffff;
 stroke-width: 0.5;
 stroke: #000000;
}

.info_rainfall_details
{
  font-size: 11px;
}